<div class="hold-transition login-page">

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1"><b>Bi-</b>Economysa</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Inicia sesión</p>

        <form method="post"
              autocomplete="off"
              [formGroup]="loginForm"
              (ngSubmit)="login()"
        >

          <div class="input-group mb-3">
            <input type="email"
                    class="form-control"
                    placeholder="Usuario / Email"
                    formControlName="username">


            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user-tie"></span>

              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password">


            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox"
                       id="remember"
                       formControlName="remember">

                <label for="remember">
                  Recordar usuario
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>

            <!-- /.col -->
          </div>

        </form>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
</div>
